<!DOCTYPE html>
<html>
<head>
  <title>Simple Contact Form</title>
  <%= stylesheet_link_tag "application" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "jquery-rails.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= csrf_meta_tag %>
</head>
<body>
  
  <%= yield %>

</body>
</html>
